<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>ashley qin</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="main.js" type="text/javascript"></script>
        <link href="/styles/main.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">
    </head>
    <body>
        <header>
            <div id="siteTitle">
<!--                <a href="/"><span class="underline">ashley qin</span></a>-->
                <a href="/">ashley qin</a>
            </div>

            <nav>
                {% include nav.html %}
            </nav>
        </header>

        <main>
            {{ content }}
        </main>

        <footer style="margin-top: 4em">
            <div class="icon-bar">
                <a href="https://www.linkedin.com/in/ashleyqin/" class="fa fa-linkedin" target="_blank"></a>
                <a href="https://github.com/ashleyyqin" class="fa fa-github" target="_blank"></a>
            </div>
            <p>Thanks for stopping by! 😁</p>
        </footer>
    </body>
</html>