/* VARIABLES */

:root {
    --color-blue: #164afb;
    --color-pink: #ff5470;
    --color-slate: #273142;
}

/* MAIN STYLES */

body {
    font-family: 'Alata';
    padding: 0;
    margin: 0;
    line-height: 1.85em;
}

img {
    width: 100%;
    border: none;
    display: block;
    z-index: 2000;
}

img a:hover {
    color: white;
}

main a:not(.button):not(.fa):not(.arrow),
footer a:not(.button):not(.fa):not(.arrow){
    padding-left: 2px;
    padding-right: 2px;
    color: black;
    text-decoration: none;
}

main a:not(.button):not(.arrow):focus,
main a:not(.button):not(.arrow):hover,
footer a:not(.button):not(.arrow):focus,
footer a:not(.button):not(.arrow):hover {
    color: var(--color-blue);
    text-decoration: underline solid var(--color-blue);
}

code {
    font-family: 'Alata';
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}

h1,
h2, 
h3, 
h4 {
    line-height: 1.25em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

h1 {
    font-weight: 600;
    font-size: 300%;
}

h2 {
    margin-top: 1em;
}

h4 {
    font-size: 95%;
    text-transform: uppercase;
    margin-top: 1em;
    margin-bottom: 1em;
}

@media screen and (max-width: 640px) {
    body {
        font-size: 95%;
    }
    
    h1 {
        padding-bottom: 0;
    }
    
    .quarter > h4:first-child,
    .half > h4:first-child {
        margin-top: 1.5em;
    }
}

.caption {
    font-size: 85%;
    line-height: 1.5em;
}

.description {
    font-size: 95%;
    line-height: 1.5em;
}

a.anchor {
    padding: 0 !important;
}

.blue {
    color: var(--color-blue);
}

.small-text {
    font-size: 70%;
    display: inline;
}

/* HEADER and FOOTER STYLES */

header {
    padding: 0 auto;
    display: flex;
    align-items: center;
    font-weight: 600;
    padding: 3em;
}

header a {
    color: black;
    text-decoration: none;
}

header a:hover {
    color: var(--color-blue);
}

#siteTitle {
    z-index: 2000;
    font-size: 200%;
    margin-left: 6em;
}

nav {
    display: flex;
    z-index: 2000;
    margin-left: auto;
    justify-items: right;
}

.underline {
    border-bottom: 2px solid var(--color-blue);
    display: inline-block;
    line-height: 1;
    text-shadow:
    2px 2px white,
    2px -2px white,
    -2px 2px white,
    -2px -2px white;
}

.underline_nav {
    border-bottom: 2px solid var(--color-blue);
    display: inline-block;
    line-height: 1.1;
    text-shadow:
    2px 2px white,
    2px -2px white,
    -2px 2px white,
    -2px -2px white;
}

nav a {
    font-size: 100%;
    letter-spacing: 0.05em;
    margin-right: 6em;
}

footer {
    padding: auto;
    display: flex;
    align-items: center;
    padding: 3em;
}

footer > * {
    display: block;
    z-index: 2000;
}

@media screen and (max-width: 640px) {
    header,
    footer {
        padding: 1.5em;
    }
    
    header {
        position: relative;
        display: block;
        z-index: 2000;
    }
    
    footer p {
        padding: 0;
        margin: 0;
    }
    
    nav {
        margin-top: 18px;
    }
    
    nav a:first-child{
        margin-left: 0;
    }
}

/* LISTS */

ul {
    display: list-item;
    list-style: circle;
    margin: 0;
    padding: 0;
    font-size: 120%;
}

li {
    margin-bottom: 0.6em;
    line-height: 1.2em;
}

ul li >,
ol li > * {
    padding: 0;
    margin: 0;
}

/* LAYOUT: CONTAINERS*/

main {
    padding-top: 8em;
}

.narrow {
    max-width: 540px;
    padding: 1.5em 3em;
    margin: 0 auto;
}

.wide {
    max-width: 768px;
    /*padding: 1.5em 3em;
    margin-left: auto;*/
    margin-left: 8em;
    margin-right: auto;
}

.inset {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em 3em;
}

.bleed {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.cut {
    max-width: 75%;
}

@media screen and (max-width: 640px) {
    .wide,
    .narrow {
        padding: 0.75em 1.5em;
    } 
    
    .inset {
        padding: 0;
    }

    .wide > *:first-child,
    .narrow > *:first-child,
    .inset > *:first-child {
        margin-top: 0;
    }

    .wide > *:last-child,
    .narrow > *:last-child,
    .inset > *:last-child {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 480px) {    
    .cut {
        max-width: 100%;
    }
}

/* LAYOUT: COLUMNS */

.cols {
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    display: flex;
    flex-wrap: wrap;
}

.half {
    width: calc(50% - 1.5em);
    padding-right: 1.5em;
}

.third {
    width: calc(33.33% - 1.5em);
    padding-right: 1.5em;
}

.two-thirds {
    width: calc(66.66% - 1.5em);
    padding-right: 1.5em;
}

.quarter {
    width: calc(25% - 1.5em);
    padding-right: 1.5em;
}

@media screen and (max-width: 720px) {
    .half {
        width: 100%;
        padding-right: 0;
    }
    
    .third {
        width: 100%;
        padding-right: 0;
    }
    
    .two-thirds {
        width: 100%;
        padding-right: 0;
    }
    
    .quarter {
        width: 50%;
        padding-right: 0;
    }
}

.sep:before {
    content: "";
    display: block;
    position: relative;
    width: 100px;
    left: -1.5em;
    height: 1px;
    /* border-bottom: 2px solid var(--color-slate); */
    border-bottom: 2px solid rgba(39, 49, 66, 0.5);
}

@media screen and (max-width: 640px) {
    .sep {
        display: none;
    }
}

/* ELEMENTS: ICONS */

.fa {
    padding: 6px;
    margin-right: 3px;
    font-size: 75% !important;
    text-align: center;
    text-decoration: none;
    background: black;
    color: white;
    border-radius: 50%;
    transition: all 0.25s ease-in-out;
    opacity: 1;
}

.fa:hover {
    opacity: 0.5;
    transition: all 0.25s;
}

.icon-bar {
    margin-top: -3px;
    margin-right: 30px;
}

/* ELEMENTS: SOCIAL LINKS */

.social-links-prof span {
    display: block;
    margin: .25em 0;
}

.social-links-prof span .fa {
    margin-right: 1em;
}

/* PAGE STYLES: HOME */

.home-title1 {
    margin-bottom: 1em;
    margin-left: auto;
    margin-right:0.5em;
    display: block;
    font-weight: 500;
    font-size: 200%;
    line-height: 150%;
    color: #c0c0c0;
}

.home-title2 {
    font-size: 370%;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right:0.5em;
    display: block;
}

.home-subtitle {
    margin-bottom: 1em;
    margin-left: auto;
    margin-right:0.5em;
    display: block;
    font-weight: 300;
    font-size: 175%;
    line-height: 150%;
    color: #c0c0c0;
}

.home-bottom {
    display: block;
    height: calc(2vh + 1vw);
}

.home-pills {
    margin-top: 2.5em;
    text-transform: uppercase;
    font-size: 90%;
    font-weight: 700;
}

.home-image {
    object-fit: cover;
    height: 560px;
    margin-bottom: 4em;
}

.home-bio {
    font-size: 95%;
    line-height: 1.5em;
}

@media screen and (max-width: 640px) {   
    .home-title {
        font-size: 250%;
    }
    
    .home-subtitle {
        font-size: 150%;
    }
}

/* PAGE STYLES: BIO */

#bio-prof-pic {
    justify-content: right !important;
    width:26%;
    margin-left: 2em;
    margin-right:-2em;
    margin-top:-1.5em;
}

@media screen and (max-width: 768px) {
    #bio-prof-pic {
        float: none;
        margin: 0;
        margin-bottom: 20px;
        margin-top: -120px;
        width: 280px;
    }
}

/* PAGE STYLES: WORK */

.inline-label-now,
.inline-label-note,
.inline-label-github,
.inline-label-page {
    font-size: 90%;
    font-weight: 600;
    color: white;
    border-radius: 3px;
    padding: 1px 6px;
    margin-right: 1px;
    margin-left: 3px;
    text-decoration: none;
    transition: all 0.25s ease-in-out;
}

.inline-label-github:hover,
.inline-label-page:hover {
    opacity: 0.75;
    transition: all 0.25s ease-in-out;
}

.inline-label-now {
    margin-right: 4px;
    background-color: var(--color-blue);
}

.inline-label-note {
    color: black !important;
    background-color: #eeeeee;
}

.inline-label-github {
    background-color: #6f42c1;
}

/* PAGE STYLES: BLOG LIST */

.posts-entry {
    margin-bottom: 1em;
    line-height: 1.5em;
}

.posts-entry-title {
    font-weight: 600;
    margin-right: 0.5em;    
}

.posts-entry-date {
    color: gray;
    text-transform: uppercase;
    font-size: 85%;
}

.posts-entry-blurb {
    display: block;
    font-size: 95%;
    margin-top: 0.5em;
}

/* PAGE STYLES: BLOG PAGE */

.byline {
    margin-top: -2em;
    margin-bottom: 3em;
}

.byline-author {
    text-transform: uppercase;
    font-weight: 600;
    padding-right: 0.5em;
}

.byline-date {
    color: #666;
}

/* MISC */

.inset.photo-cover .photo-text {
    position: absolute;
    max-width: 480px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2003;
    color: white;
    text-align: center;
}

.img_projects {
    justify-content: right !important;
    width:50%;
    margin-right:-4em;
}

.img_dataprojects {
    /*margin-left: 8em;*/
    width: 110%;
    margin-top: 1em;
    margin-bottom: 2em;
}

.project-title {
    font-size: 330%;
    margin-top: 1em;
    margin-bottom: 0.5em;
    display: block;
}

.project-descriptions {
    /*font-weight: 100;*/
    font-size: 150%;
    display: block;
    align-items: center;
    margin-bottom: 0.5em;
    margin-top: 2em;
    margin-right: 1em;
    line-height: 1.6;
}

.work {
    align-items: center;
    font-size: 400%;
    margin-top: 4em;
    text-align: center;
    display: block;
}

